* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

.banner {
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-bottom: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: white;
    background-color: #2e3138;
    min-width: 900px;
}

.make-your-selection {
    padding-left: 1.5em;
    padding-top: 0.3em;
}

.container-main {
    margin: 2em;
}

.btn.btn-info.btn-lg {
    margin: 0.1em;
    border: #6990eb solid 2px;
    background-color: #393a85;
    color: white;
    box-shadow:7px 7px 15px 7px rgba(30, 30, 60, 0.27);
}

.btn.btn-info.btn-lg:hover {
    cursor: pointer;
    color: aqua;
    box-shadow : 2px 2px 0.5px rgb(114, 111, 113);
    transition: 0.5s;
}

.form-control {
    width: 500px;
}

.form-label {
    font-weight: bolder;
    margin-top: 0.5em;
    margin-bottom: 0;
}

footer {
    display: inline;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_container {
    background-color: #2e3138;
    height: 4em;
    padding: 0.5em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}

.footer_item {
    display: inline-flex;
    color: white;
    padding: 0.7rem;
    margin-right: 20px;
}

.footer_item_2 {
    display: inline-flex;
    color: white;
    float: right;
    margin-right: 1em;
    padding: 0.7rem;
}

.profile-info {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em 1.5em 0 1.5em;
}

.exp-date {
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 10px;
    padding: 0.5em;
    background-color: #a33232;
    width: 14em;
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.save-button {
    text-align: right;
    margin-top: 1em;
    margin-right: 1.5em;
}

.profile-info h4 {
    margin-bottom: 0;
    color: rgb(16, 16, 165);
    font-weight: lighter;
    font-size: 1.7em;
}

#cost-estimation {
    margin-left: 3em;
}

#dependentSelector {
    width: 250px;
}

#menu-main-grid-cards {
    margin-left: 2em;
    margin-top: 1em;
}

#menu-main-grid-cards-2 {
    margin-right: 1em;
}

.card-img-top {
    width: 290px;
    height: 290px;
    margin: auto;
    padding: 1em;
}

.card {
    width: 335px;
    height: 315px;
    border-radius: 10px;
    box-shadow:
  10px 7.9px 12.3px rgba(0, 0, 0, 0.044),
  19.2px 15.3px 22.2px rgba(0, 0, 0, 0.06),
  27.8px 22.2px 30.7px rgba(0, 0, 0, 0.071),
  36.6px 29.1px 40.8px rgba(0, 0, 0, 0.082),
  48.5px 38.6px 62.5px rgba(0, 0, 0, 0.096),
  118px 94px 174px rgba(0, 0, 0, 0.13);
}

.card-title {
    margin: 0;
    padding-top: 0.5em;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.5em;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(188, 188, 238);
    transform: scale(1.045);
    transition: 0.3s;
}

.card-body {
    background-color: rgb(19, 20, 20);
    color: white;
    text-align: center;
    padding: 0;
    align-self: auto;
    border-radius: 10px 10px 0 0;
    padding: 0.5em;
}

.col {
    width: 350px;
    height: 350px;
}

.card-img-top {
    width: 290px;
    height: 240px;
    margin: auto 1.5em;
}

.container-fluid {
    padding-left: 2em;
}

